<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aquamarine;
        }
        h1{
            font-size: 40px;
            text-align: center;
            font-family: Roboto;
            background-color: aqua;
        }
        a{
            font-size: 30px;
            margin: 20px;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
        }
        img{
            height: 80vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <nav>
        <h1>Covid Vaccine page</h4>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        <img src="https://etimg.etb2bimg.com/photo/96641290.cms" alt="image">
    </nav>
</body>
</html>